/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

/* rgb(255, 145, 0); */
/* rgb(214, 122, 0); */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

a {
    color:rgb(0, 0, 0);
}

body {
    font-family: Roboto;
}

body {
    margin: 0 70px;
    padding: 0 120px;
    background-color: rgb(252, 252, 252);
    -webkit-box-shadow: 0px 0px 23px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 23px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 23px 4px rgba(34, 60, 80, 0.2);
}

header, footer {
    width: 100%;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header section, footer section {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}


main h1 {
    font-size: 60px;
    font-weight: lighter;
}

.home-logo {
    font-size: 100px;
    font-weight: bold;
    color: rgb(255, 145, 0);
    text-shadow: none;
    transition: .1s;
    cursor: pointer;
}

.home-logo span * {
    border: .1px rgb(255, 145, 0) solid;
}

.home-logo:hover {
    text-shadow: 8px 4px 7px rgba(149, 150, 150, 1);;
}

.header-menu {
    display: flex;
    width: 550px;
    align-items: center;
    justify-content: space-between;
}

.header-buttons button {
    font-size: 1.7rem;
    background: rgb(255, 255, 255);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 145, 0);
    font-weight: bold;
    transition: .2s;
}

.header-buttons button:hover {
    font-size: 1.7rem;
    background: rgb(255, 145, 0);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.header-menu input {
    padding: 10px 10px;
    width: 60%;
    height: 60px;
    font-size: 1.4rem;
}

.header-menu button {
    padding: 10px 10px;
    width: 35%;
    height: 60px;
}

.add-teacher {
    /* justify-content: center; */
    display: block;
    float: right;
}

.add-teacher button {
    justify-content: center;
    height: 70px;
    width: 230px;
}

.menu {
    display: flex;
    font-size: 2.5rem;
    align-items: center;
}

.menu a {
    margin-right: 50px;
    color:rgb(255, 145, 0);
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.menu a:hover {
    margin-right: 50px;
    color:rgb(214, 122, 0);
    cursor: pointer;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

hr {
    width: 40%;
    border-top: .1rem rgb(0, 0, 0) solid;
    border-radius: 50%;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.filter span {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 24px;
}

.filter span input, .filter span select{
    font-size: 24px;
}

.btn-filter {
    font-size: 1.7rem;
    background: rgb(255, 255, 255);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 145, 0);
    font-weight: bold;
    transition: .2s;
    width: 150px;
    height: 50px;
    margin: 20px 0;
}

.btn-filter:hover {
    font-size: 1.7rem;
    background: rgb(255, 145, 0);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.checkbox-filter label{
    color: rgb(177, 177, 177);
    cursor: pointer;
}

#search-btn {
    font-size: 1.7rem;
    background: rgb(255, 255, 255);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 145, 0);
    font-weight: bold;
    transition: .2s;
    height: 70px;
    width: 170px;
}

#search-btn:hover {
    font-size: 1.7rem;
    background: rgb(255, 145, 0);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#teachers-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

#teachers-list a {
    text-decoration: none;
}

#teachers-section .pagination {
    width: 100%;
    text-align: center;
}

.card {
    margin: 20px 0px;
    min-width:20%;
    box-sizing:border-box;
    padding:10px;
    text-align:center;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.favorite {
    position: relative;
}

.favorite::after {
    display: block;
    position: absolute;
    content: url(../images/favorite.png);
    top: 0;
    right: 25%;
    width: 0.1em;
    height: 0.1em;
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    text-align:center;
    border-radius: 50%;
    overflow: hidden;
    border:rgb(255, 145, 0) 5px solid;
    position: relative;
    transition: .1s;
}

.photo:hover {
    border:rgb(214, 122, 0) 5px solid;
}

.photo img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: .5s;
}

.photo span {
    color: rgb(255, 145, 0);
    font-size: 50px;
    transition: .1s;
}

.photo:hover span {
    color:rgb(214, 122, 0);
}

.photo img:hover {
    transform: scale(1.1)
}

.info {
    margin-top: 10px;
    width: 200px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info span {
    margin-top: 40px;
    font-size: 20px;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.stats .container {
    width: 50%;
}

.stats td {
    height: 50px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    line-height: 45px;
}

#stat-buttons button {
    font-size: 1.1rem;
    background: rgb(255, 255, 255);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 145, 0);
    transition: .2s;
    height: 30px;
    width: 90px;
}

#stat-buttons button:hover {
    font-size: 1.1rem;
    background: rgb(255, 145, 0);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 255, 255);
}

.top, .top td {
    font-size: 28px;
    border-top: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #000;
    transition: .2s;
    cursor: pointer;
}

.top td:hover {
    -webkit-box-shadow:inset 0px -2px 0px #000;
    -moz-box-shadow:inset 0px -2px 0px #000;
    box-shadow:inset 0px -2px 0px #000;

}

table td:not(:nth-child(1)) {
    text-align: center;
}

.stats tr:nth-child(even) {
    background-color: #f5f5f5;
}

.pagination {
    width: 80%;
    text-align: left;
    margin: 20px 0;
    font-size: 24px;
}

.pagination a {
    display: inline-block;
    margin-left: 10px;
    color:rgb(59, 162, 174);
}

.pagination a:active {
    color:rgb(255, 145, 0);
}

.pagination * {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.active-page {
    cursor: default;
    color: rgb(0, 0, 0) !important;
}

.favorite-list {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.arrows {
    width: 100%;
    height: 100%;
    border-color: #000;
    cursor: pointer;
    margin-top: -31px;
    display: flex;
    align-items: center;
}

.arrows img {
    width: 100%;
    height: auto;
    transition: 0.1s;
}

.prev img:hover {
    transform: scale(1.2) rotate(90deg);
}

.next img:hover {
    transform: scale(1.2) rotate(-90deg);
}

.prev img {
    transform: rotate(90deg);
}

.next img {
    transform: rotate(-90deg);
}

.slides {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.information {
    font-size: 24px;
    text-align: left;
}

.big-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


.popup-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.big-card {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.big-card h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.big-popup {
    overflow: hidden;
}

.big-photo {
    border: none;
    border-radius: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-photo img {
    width: 100%;
}

.big-card .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.big-card .close:hover {
    color: rgb(255, 145, 0);
    cursor: pointer;
}

.big-card {
    max-height: 80%;
    overflow: auto;
}

.main-info {
    display: flex;
    flex-direction: row;
}

.text-info {
    font-size: 30px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-info p span {
    font-size: 20px;
}

.additional-info * {
    font-size: 24px;
    text-align: left;
}


.map-toggle summary {
    list-style: none;
    color:rgb(0, 88, 220);
    text-decoration: underline;
    cursor: pointer;
}

.map-toggle #map {
    height: 500px;
    width: 100%;
}


.map-toggle summary::-webkit-details-marker {
    display: none;
}


.favorite-big {
    position: absolute;
    top: 20%;
    right: 8%;
    width: 0.1em;
    height: 0.1em;
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
}

.favorite-big img {
    content: url(../images/favorite.png);
}

.favorite-big img:hover {
    cursor: pointer;
    content: url(../images/not-favorite.png);
}

.not-favorite-big {
    position: absolute;
    top: 20%;
    right: 8%;
    width: 0.1em;
    height: 0.1em;
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
}

.not-favorite-big img {
    content: url(../images/not-favorite.png);
}

.not-favorite-big img:hover {
    cursor: pointer;
    content: url(../images/favorite.png);
}

.add-form-teacher {
    width: 25%;
    max-height: 100%;
    margin: 50px auto;
}

.form-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-list li {
    font-size: 20px;
    width: 80%;
    margin: 5px 0;
    text-align: left;
}

.form-list li input, textarea {
    width: 100%;
    font-size: 20px;
    padding: 8px;
}

.form-list .sex input {
    width: 10%;
}

.form-list li .btn {
    font-size: 1.7rem;
    background: rgb(255, 255, 255);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 145, 0);
    font-weight: bold;
    transition: .2s;
}

.form-list li .btn:hover {
    font-size: 1.7rem;
    background: rgb(255, 145, 0);
    border: 2px rgb(255, 145, 0) solid;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.form-list li input[type="color"] {
    padding: 3px;
}

.search-teacher {
    width: 40%;
}

.search-by-text {
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-by-params {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.search-params {
    width: 80%;
    margin: 20px 0;
}

.search-params button {
    padding: 10px;
    width: 35%;
    height: 60px;
}

@media only screen and (max-width: 1480px) {
    #teachers-list {
        justify-content: space-between;
    }

    header section, footer section {
        flex-direction: column;
    }

    .header-buttons {
        width: 100%;
    }

    .menu {
        width: 100%;
        font-size: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .menu a {
        margin: 20px 0;
    }

    .big-card {
        width: 70%;
    }

    .big-card main {
        text-align: center;
    }

    .big-card .main-info * {
        font-size: 24px;
    }

    .add-form-teacher {
        width: 60%;
        margin: 0 auto;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1090px) {

    body {
        padding: 0 60px;
        margin: 0 40px;
    }

    .favorite-list .card:last-child {
        display: none;
    }

    .big-card {
        width: 70%;
    }

    .big-card .main-info * {
        font-size: 20px;
    }

    .big-card .additional-info * {
        font-size: 20px;
    }

    .favorite-big h2::before {
        transform: scale(0.1);
        top: 23.5%;
    }

    .filter span, .filter span * {
        font-size: 22px;
    }
}

@media only screen and (max-width: 860px) {

    body {
        padding: 0 40px;
        margin: 0 20px;
    }

    .home-logo  {
        font-size: 80px;
    }

    .favorite-list .card:last-child {
        display: none;
    }

    .big-card .main-info * {
        font-size: 14px;
    }

    .big-card .additional-info * {
        font-size: 16px;
    }

    .filter span, .filter span * {
        font-size: 20px;
    }

    .card {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {


}